.comment-icon {
    border-radius: 50%;
    width:40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-self: center;
    background-color: #262626;
}

.comment-icon:hover {
    background-color: #333;
}

.comment-icon i {
    margin: auto;
    size: 20px;
    background-color: transparent;
}
  
.comment {
    background-color: #262626; 
    color: #f5f5f5; 
    margin-top: 10px;
  }
  
  .user-comment-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #202020; 
    border-radius: 8px;
  }
  
  .user-comment-input img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-comment-input textarea {
    flex-grow: 1;
    padding: 10px;
    background-color: #181818;
    color: #f5f5f5;
    border: 1px solid #333;
    border-radius: 8px;
    resize: none;
  }
  
  .user-comment-input textarea::placeholder {
    color: #999;
  }
  
  .user-comment-input button {
    padding: 10px 15px;
    margin-left: 10px;
    background-color: #1271ff;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .user-comment-input button:hover {
    background-color: #1f87e2;
  }
  
  .user-comment-input button:active {
    background-color: #1f87e2;
  }
  
  