.recomend-topic-container {
    background-color: #262626;
    margin-left: -12px;
    border-radius: 4px;
    border: 1px solid  #333;
    width: 245px;
}

.recommend-title {
    border-bottom: 1px solid  #333;
    color: white;
}

.recommend-title p {
    padding: 15px 10px;
    font-weight: bold;
    font-size: 15px;
    color: white;
}

#recommendations {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px 0;
    padding-bottom: 50px;
    background-color: #262626;
}


#recommendations .subscription {
    padding: 6px 15px;
}

#recommendations .subscription:hover {
    background-color: #333;
}

#topics-for-u .topic-for-u-name {
    font-weight: bold;
    font-size: 13px;

}

#topics-for-u .topic-for-u-num {
    color: white;
    margin-top: 2px;
    
}


