.topics-questions-list {
    list-style-type: none;
    padding: 0;
}

/* Style for each topic and its questions */
.topics-qs {
    margin-bottom: 20px; 
    background-color: #262626;
    border: 1px solid #333;
    padding: 10px 0px;
    word-wrap: break-word; 
    border-radius: 4px;
    padding-bottom: 0px;
}


.topic-container {
    display: flex;
    align-items: center; 
    margin-bottom: 10px;
    border-bottom: 1px solid #333;
    padding-bottom: 8px;
}


.topic-container img {
    width: 30px; 
    height: 30px; 
    border-radius: 4px;
    margin-right: 10px;
    margin-left: 15px;
}

.topic-info {
    flex-grow: 1;
}

.topic-info p {
    margin: 0;
    padding: 0;
    color: #999;
    margin-bottom: 4px;
    font-size: 12px;
}

.topic-info>:first-child {
    font-weight: bold;

}

.seperator {
    border: 0.5px solid #333;
}
