.background {
    background-color: white;
    padding-bottom: 30px;
    height: 100%;
}

.profile-container {
    display: flex;
    margin: 0 auto;
    padding-top: 95px;
    padding-bottom: 20px;
    width: 1024px;
    justify-content: center;
    gap: 100px;
    background-color: white;
}

.profile {
    width: 572px;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.user-info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
    margin-bottom: 50px;
}

.user-info p{
    font-size: 13px;
    color: darkgray;
    margin-top: 10px;
}

#user-Q-A .answer {
    border: none;
    border-bottom: 1px solid #e2e2e2;
}

#user-Q-A .answer-list-component {
    background-color: white;
}

.Q-A-title {
    font-size: 13px;
    padding-bottom: 12px;
    color: black;
    border-bottom: 1px solid #e2e2e2;
}

.credentials-highlights {
    width: 356px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    background-color: white;
}


.credentials-title {
    font-size: 13px;
    padding-bottom: 12px;
    color: black;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 8px;
}

.credentials-details {
    font-size: 13px;
    padding: 4px 0;
    color: #333;
    display: flex;
    align-items: center;
    gap: 6px;
}

.credentials-details div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2e2e2;
    height: 20px;
    width: 20px;
    padding: 12px;
    border-radius: 50%;
}