.answer {
    display: flex;
    flex-direction: column;
    border: 1px solid #e2e2e2; 
    padding: 16px;
    margin-bottom: 8px;
    background-color: white; 
    border-radius: 4px;
    
}

.rendered-content-class pre {
    background-color: black;
    border: 1px solid black;
    padding: 10px;
    word-wrap: break-word;
    color: white       
}

.rendered-content-class blockquote {
    border-left: 4px solid #ccc;
    margin: 0.5em 10px;
    padding: 0.5em 10px;
    quotes: none;
    font-style: italic;
}

.rendered-content-class img {
    max-width: 100%;
    height: auto;
    display: block;
}

.profile-image {
    width:35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover
}


/* Author Info */
.author {
    font-size: 12px;
    color:#333; 
    margin-bottom: 8px;
}

.author-name {
    font-weight: bold;
    color: #333;
    margin-bottom: 4px;
}

.author-profile {
    display: flex;
    gap: 10px;
}

/* Question Link */
.answer a {
    color: #333; 
    text-decoration: none; 
    font-weight: bold; 
    margin-bottom: 8px;
    margin-top: 8px;
}

.answer a:hover {
    text-decoration: underline;
}

/* Answer Content */
.rendered-content-class {
    font-size: 14px;
    line-height: 1.6; 
    color: #333; 
}


.truncated-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 10px;
} 

.more-link {
    color: #185faa;
    cursor: pointer;
    display: inline; 
    text-align: right;
}

.more-link:hover {
    text-decoration: underline;
}

.rendered-content-class p {
    word-break: break-all;
}

.user-comments-area {
    gap: 20px;
    color: grey;
}

.user-comments-area a {
    font-size: 12px;
    color: grey;
}

.answer-comment-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-top: 20px;
}

.user-comments-icon {
    display: flex;
    gap: 30px;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s ease infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

