
.menu-container {
    position: relative; 
  }
  
  /* Style for the three-dots */
  .three-dots {
    cursor: pointer; 
   
  }
  
 
  .menu-container ul {
    position: absolute;
    top: 80%; 
    right: 0; 
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 100; 
    list-style-type: none; 
    padding: 0;
    margin: 0;
    border-radius: 4px;
    overflow: hidden; 
    width:120px;
  }
  
  .menu-container ul li {
    padding: 8px 15px;
    cursor: pointer;
  }
  
  .opearion-button:hover {
    background-color: #f5f5f5;
  }
  
  .flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .opearion-button {
    width: 100%;
    padding-left: 15px;
    z-index: 99999999;
  }