body {
    background-color: #f1f2f2;
}

.nav-bar-container {
    position: fixed; 
    top: 0;
    width: 100%; 
    background-color: white; 
    z-index: 1000; 
}

.qs-title {
    margin-top: 80px;
}