.profile-button-container {
  position: relative;
  display: inline-block;
}

.profile-dropdown {
  position: absolute;
  top: 120%; 
  right: 50%; 
  transform: translateX(38%); 
  margin-top: 8px; 
  border: 1px solid #333;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 180px;
}

.profile-dropdown::before {
  content: "";
  position: absolute;
  top: -9px; 
  left: 50%;
  transform: translateX(-50%); 
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #333; 
}

.profile-dropdown::after {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%; 
  transform: translateX(-50%); 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #333; 
}

.hidden {
  display: none;
}


div .nav-bar-container {
  background-color: #262626; 
}

.nav-bar-container {
  height: 60px;
  background-color: #262626; 
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  z-index: 10000;
}

.navigation {
  height: 100%;
  width: 1100px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}


.nav-bar {
  display: flex;
  align-items: center;
}

.profile-addQ {
  display: flex
}

.nav-bar i {
  font-size: 28px;
  padding: 7.5px 16px 
}

.nav-bar div, .nav-bar form {
  margin-right: 20px; 
}

.nav-bar a {
  text-decoration: none;
  color: red; 
  font-weight: bold;
  font-size: 31px;
  font-family: "Literata", serif;
}

.nav-bar a:hover {
  color:#b82c32;
}

.nav-bar i {
  color: #262626; 
  cursor: pointer; 
}

.nav-bar i:hover {
  background-color: #333; 
}

#home-sign {
  color:  red
}

#home-sign:hover{
  color: #b82c32;
}

/* Search box */
.nav-bar form {
  display: flex;
  align-items: center;
  background-color: #181818;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 5px 10px;
  margin-left: 20px;
  width: 360px;
}

.nav-bar input {
  border: none;
  outline: none;
  margin-right: 10px;
  width:100%;
  background-color: #181818;
  color: white;
}

.nav-bar form:focus-within {
  border: 1px solid #007bff;
}

.nav-bar button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 5px 10px;
  color: #626466;
}

.nav-bar button:hover {
  color: red;
}

/* Profile and Add Question*/
.profile-addQ {
  display: flex;
  align-items: center;
}

.pledge-detail {
  margin-left: 20px;
}

.pledge-detail button {
  border: none;
  background-color: red;
  color: white;
  padding: 7px 20px;
  border-radius: 22px;
}

.pledge-detail button:hover{
  cursor: pointer;
  background-color: #b82c32;
}

.profile-dropdown {
  position: absolute;
  right: 0;
  background-color: white;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-profile-img {
  width:40px;
  height: 40px;
  border-radius: 50%;
}

