.profile-button-container {
  position: relative;
  display: inline-block;
}

.profile-dropdown {
  position: absolute;
  top: 120%; 
  right: 50%; 
  transform: translateX(38%); 
  margin-top: 8px; 
  border: 1px solid #ddd;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 180px;
}

.profile-dropdown::before {
  content: "";
  position: absolute;
  top: -9px; 
  left: 50%;
  transform: translateX(-50%); 
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #ddd; 
}

.profile-dropdown::after {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%; 
  transform: translateX(-50%); 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white; 
}

.hidden {
  display: none;
}

.nav-bar-container {
  height: 60px;
  background-color: white;
  border-bottom: 1px solid #e2e2e2;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  z-index: 10000;
}

.navigation {
  height: 100%;
  width: 1100px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}


.nav-bar {
  display: flex;
  align-items: center;
}

.profile-addQ {
  display: flex
}

.nav-bar i {
  font-size: 28px;
  padding: 7.5px 16px 
}

.nav-bar div, .nav-bar form {
  margin-right: 20px; 
}

.nav-bar a {
  text-decoration: none;
  color: #a82723; 
  font-weight: bold;
  font-size: 31px;
  font-family: "Literata", serif;
}

.nav-bar a:hover {
  color: #d26f6a;
}

.nav-bar i {
  color: #626466; 
  cursor: pointer; 
}

.nav-bar i:hover {
  background-color: #f1f2f2; 
}

#home-sign {
  color:  #a82723
}

#home-sign:hover{
  color: #d26f6a;
}

/* Search box */
.nav-bar form {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  padding: 5px 10px;
  margin-left: 20px;
  width: 360px;
}

.nav-bar input {
  border: none;
  outline: none;
  margin-right: 10px;
  width:100%;
}

.nav-bar form:focus-within {
  border: 1px solid #007bff;
}

.nav-bar button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 5px 10px;
  color: #626466;
}

.nav-bar button:hover {
  color: #a82723;
}

/* Profile and Add Question*/
.profile-addQ {
  display: flex;
  align-items: center;
}

.pledge-detail {
  margin-left: 20px;
}

.pledge-detail button {
  border: none;
  background-color: #a82723;
  color: white;
  padding: 7px 20px;
  border-radius: 22px;
}

.pledge-detail button:hover{
  cursor: pointer;
}

.profile-dropdown {
  position: absolute;
  right: 0;
  background-color: white;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-profile-img {
  width:40px;
  height: 40px;
  border-radius: 50%;
}

.search-result-modal {
  width: 500px;
  margin-top: 100px;
  background-color: white;
  position: absolute;
  top: -255%; 
  right: 0%;
  width: 500px;
  background: white; 
  border: 1px solid #ccc;
  z-index: 1000; 
  border-radius: 4px;
  box-shadow: 1px 5px 6px rgba(0, 0, 0, 0.1);
}


.search-result-modal a p {
  font-size: 15px;
  font-weight: normal;
  color: #333
}

.search-result-modal p {
  border-top: 1px solid #ccc;
  padding: 10px;
}

.search-result-modal p:hover {
  background-color: rgb(248, 247, 247);
  color: #185faa
}

.search-container {
  position: relative;
}

.search-icon  {
  background-color: #e2e2e2;
  font-size: 15px;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%
}

.search-title {
  color:grey;
  font-weight: normal;
  margin-right: 5px;
}

.search-icon i{
  font-size: 15px;;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999; 
}


