
.profile-dropdown li {
    padding: 10px 0;
    padding-left: 15px;
    background-color:  #262626;
    color: white;
  }
  
  ul.profile-dropdown {
    padding: 0px;
  }

.log-out-btn {
    border: none;
    background-color: transparent;
    font-size: 15px;
    color: white
} 

.log-out-btn:hover {
    background-color: #333;
    cursor: pointer;
}

.your-profile-click a{
    color: white
}

.your-profile-click:hover{
    background-color: #333;
}

.your-profile-click {
    border-bottom: 1px solid #333;
}

.greeting {
    font-weight: bold;
    color: white
}